.title {
  margin: 0 auto;
  color:darkcyan;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  height: 1000px;
  background-color: aliceblue;
  border:1px solid lightblue;
  padding-top: 400px;
}
